.brand-gradient {
    background: #2574cf;
    background: radial-gradient(
      ellipse farthest-corner at center center,
      #2574cf 0%,
      #57cf63 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .banner-holder{
    background-image: url(Image/banner.jpg);
    background-size: cover;
    background-position: bottom;
  }